@font-face {
  font-family: "Peyda";
  src: url("/fonts/Peyda.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  direction: rtl;
  text-align: right;
  overflow-x: none;
  color-scheme: dark;
}

body,
* {
  font-family: "Peyda";
  margin: 0;
  padding: 0;
  color: #ffffff;
}

body {
  background-color: #0C0D17 !important;
  max-height: 100vh;
  overflow-y: auto;
}

body {
  -ms-overflow-style:unset;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.MuiTypography-root,
.MuiButton-root,
.MuiInputBase-root,
.MuiMenuItem-root,
.MuiListItem-root {
  font-family: "Peyda", "Roboto", sans-serif !important;
  direction: rtl !important;
  text-align: right !important;
}
