@font-face {
  font-family: "Peyda";
  src: url("/fonts/Peyda.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  direction: rtl;
  text-align: right;
  overflow-x: auto;
  color-scheme: dark;
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1f2a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #00cc99;
  border-radius: 10px;
  border: 2px solid #1e1f2a;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00b386;
}

* {
}
body,
* {
  font-family: "Peyda";
  margin: 0;
  padding: 0;
  overflow-x: none;
  color: #ffffff;
  scrollbar-width: thin;
  scrollbar-color: #00cc99 #1e1f2a;
  
}

body {
  background-color: #0c0d17 !important;
  overflow-y: auto;
}

body {
  -ms-overflow-style: unset;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.MuiTypography-root,
.MuiButton-root,
.MuiInputBase-root,
.MuiMenuItem-root,
.MuiListItem-root {
  font-family: "Peyda", "Roboto", sans-serif !important;
  direction: rtl;
  text-align: right;
}
